<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {include file="common/header" /}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                {include file='common/nav-left'}
            </div>
            <div class="col-xs-9">
                {include file='common/nav-top'}
                {block name='main'}主内容{/block}
            </div>
        </div>
    </div>
    {include file='common/footer'}
</body>
</html>