<ul class="nav nav-pills nav-stacked">
    <li role="presentation" id="user-logo">
        <img src="__IMG__/login_02.jpg" alt="logo" class="img-circle" />
    </li>
</ul>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Collapsible Group Item #1
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation">
                        <a href="#">Home</a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="#">Profile</a>
                    </li>
                    <li role="presentation">
                        <a href="#">Messages</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>