<nav id="nav-left">
    <div id="user-logo">
        <img src="__IMG__/login_02.jpg" alt="logo" class="img-circle"/>
    </div>
    <div class="row">
        <div class="col-xs-5 col-xs-offset-1" id="user-name">
            用户名：{$username}
        </div>
        <div class="col-xs-6">
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" id="btn-admin" >
                    超级管理员 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">修改密码</a>
                    </li>
                    <li>
                        <a href={:url('login/loginOut')}>安全退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix" style="margin-bottom: 20px;"></div>       <!-- 清除浮动 -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel" id="nav-left-control">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                       aria-expanded="true" aria-controls="collapseOne">
                        管理 <span class="caret"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">高级分类</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">中级分类</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">初级分类</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">数据管理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">热门管理</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
